:root {
    --font-bg : 4rem;
    --font-md: 1.8rem;
    --font-sm: 1rem;
    --prymary-color: #003476;
    --secundary-color: #0062d2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.box {
    width: 90%;
    min-width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 10px 0;
}

.container .box:nth-child(2n) {
    background-color: var(--prymary-color);
}

.container .box:nth-child(2n + 1) {
    background-color: var(--secundary-color);
}

/* @media (min-width: 620px) {
    .c1 {
        width: 20%;
    }

    .c2 {
        width: 70%;
    }

    .c3 , .c4, .c5{
        width: 90%;
    }
}

@media (min-width: 800px) {
    .c1 {
        width: 20%;
    }

    .c2 {
        width: 30%;
    }

    .c3 {
        width: 40%;
    }

    .c4, .c5{
        width: 90%;
    }
} */